.za_body h3 {
    padding-left: 5px;
    padding-top: 15px;
    color: tomato;
}

h3 small {
    font-size: small;
    color: #000033;
}

.to_right {
    text-align: right;
    color: darkorange;
}

#checkings label {
    vertical-align: top;
}

.blue {
    color: blue;
}

.choco {
    color: #9800A0;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.bold {
    font-weight: 700;
}

.border {
    border-left: 1px dotted grey;
}

.brand {
    color: gray;
    font-size: 11px;
    font-style: italic;
}

.warning {
    text-decoration: underline;
}

tr.odd:hover td,
tr.even:hover td {
    background-color: #ECA;
}

#form div {
    float: left;
}

#form div div {
    clear: both;
}

#checkings, #selections, #discounts {
    margin: 0 0 5px 5px;
}

#checkings {
    border-right: 2px ridge #7987FF;
}

#selections {
    border-left: 2px ridge #7987FF;
}

#discounts input {
    width: 20px;
    margin-top: 1px;
    height: 20px;
}

label, select, .input_message {
    margin-right: 5px;
    color: darkblue;
    font-size: 13px;
}

.input_message .search {
    height: 18px;
    margin-top: 3px;
}

#selections select {
    /*height: 18px;*/
    margin-top: 3px;
    font-size: 12px;
    color: darkblue;
}

#selections label {
    margin-left: 5px;
}

#ok, #update {
    width: 80px;
    height: 70px;
    padding: 0;
    margin: 7px 0 0 5px;
    background-color: cornflowerblue;
    border: 0;
    color: white;
    font-size: xx-large;
    font-family: monospace;
    box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#ok:hover, #update:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

#ok:active, #update:active {
    background-color: #03a9f4;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

#update {
    width: 250px;
    height: 40px;
    margin-left: 30px;
    background-color: #98A5BB;
}

.yellow_mark {
    box-shadow: 2px 2px 4px #99a;
    background-color: yellow;
}