<div id="log2div">
    <form action="{''|set_query_html}" method="post" name="authform">
        <div class="form_login2">
            <input type="hidden" name="enter" value="1"/>
            <input type="hidden" name="GEO_REGION"/>
            <input type="hidden" name="GEO_CITY"/>
            <input type="hidden" name="GEO_ISP"/>
            <input type="text" name="user_login" id="ln_user_login" placeholder="Логин" value="{$user_login|escape:'html'}" size="16" />
            <br />
            <input name="user_pw" id="ln_user_pw" placeholder="Пароль" type="password" size="10" /> <input class="login-button blue-button" type="submit" value='вход' /><br />
            <span class="log2">или </span>
            <a href="{'?ukey=register'|set_query_html}">{lbl_pgn_register}</a>
        </div>
    </form>
    {*<script>getLayer('ln_user_login').focus();</script>*}
</div>