{*{strip}*}
<div class="product_brief_head">
	<div id="cat_path">
		{if $selected_category.picture}
			<div>
				<img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$selected_category.picture|escape:'url'}"
					 alt="{$selected_category.name|escape:'html'}" title="{$selected_category.name|escape:'html'}" />
			</div>
		{/if}
		<ul id=breadcrumbs-one>
			<li><a href="{"?"|set_query}">{"lnk_homepage"|translate}</a></li>&GreaterGreater;
			{section name=i loop=$product_category_path}
				{if $product_category_path[i].categoryID != 1}
					<li>
						<a href='{"?categoryID=`$product_category_path[i].categoryID`&category_slug=`$product_category_path[i].slug`"|set_query_html}' aria-haspopup=true>{$product_category_path[i].name|escape:'html'|default:"(no name)"}</a>
						{if $subcategories_to_be_shown}
							<ul>
								{section name=i loop=$subcategories_to_be_shown}
									{if $subcategories_to_be_shown[i][3]}
										{assign var=_sub_category_url value="?categoryID=`$subcategories_to_be_shown[i][0]`&category_slug=`$subcategories_to_be_shown[i][3]`"|set_query_html}
									{else}
										{assign var=_sub_category_url value="?categoryID=`$subcategories_to_be_shown[i][0]`"|set_query_html}
									{/if}
									<li><a href="{$_sub_category_url}" aria-haspopup=true>{$subcategories_to_be_shown[i][1]}</a></li>
								{/section}
							</ul>
						{/if}
					</li>
					{if !$smarty.section.i.last}
						&GreaterGreater;
					{/if}
				{/if}
			{/section}
		</ul>
		<div>
			{$selected_category.description}
		</div>
	</div>
{if $products_to_show}

{if $catalog_navigator}<div class='simple-pagination compact-theme'>{$catalog_navigator}</div>{/if}

</div>
<div class="scroll-pane1">
	<div id=content>
		{section name=i1 loop=$products_to_show}
			{if $products_to_show[i1] ne NULL}
				{if $products_to_show[i1].slug}
					{assign var=_product_url value="?ukey=product&productID=`$products_to_show[i1].productID`&product_slug=`$products_to_show[i1].slug`"|set_query_html}
				{else}
					{assign var=_product_url value="?ukey=product&productID=`$products_to_show[i1].productID`"|set_query_html}
				{/if}
				{if $widget}{assign var=_form_action_url value="&view=noframe&external=1"}{/if}
				{assign var=_cnt value=$products_to_show[i1].productID}
				
				<table class=cs_product_info>
					<tbody>
					<tr>
						<td>
							{include file="m.product_brief.html" product_info=$products_to_show[i1]}
						</td>
					</tr>
					</tbody>
				</table>
			{/if}
		{/section}
		
		{if $catalog_navigator}<div class='simple-pagination compact-theme'>{$catalog_navigator}</div>{/if}
	</div>
</div>
    <div id="parent_popup" {*onclick="document.getElementById('parent_popup').style.display='none';"*}>
        <div id="popup" class="animated bounceInDown">
            <a class="close" title="Закрыть" onclick="document.getElementById('parent_popup').style.display='none';">&times;</a>
			<div id=modal></div>
		</div>
    </div>

	{/if}
	{assign var="maxEl" value="0"}
	{section name=u loop=$products_to_show}{assign var="maxEl" value="`$maxEl+1`"}{/section}
	{if $maxEl eq 0}
		<br><br><!-- В ДАННОЙ КАТЕГОРИИ ТОВАРА НЕТ.-->
	{/if}
{*{/strip}*}
{*{debug}*}