<link rel="stylesheet" href="/published/SC/html/scripts/css/admin.css" type="text/css"/>
<!--[if IE]>
<link rel="stylesheet" href="/published/SC/html/scripts/css/ie.admin.css" type="text/css"/><![endif]-->
<script type="text/javascript" src="/published/SC/html/scripts/js/functions.js">
</script>
<script type="text/javascript" src="/published/SC/html/scripts/js/behavior.js">
</script>
<script type="text/javascript" src="/published/SC/html/scripts/js/admin.js">
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Маркет - Администрирование</title>
{literal}
    <script type="text/javascript">

        var WAROOT_URL = '/';
        window.url_img = '/published/publicdata/MULTITOYS/attachments/SC/images';
        var translate = {
            'msg_unsaved_changes': 'Если вы покинете эту страницу, ваши изменения будут утеряны.',
            'btn_close': 'Закрыть'
        };
        var url_current_theme_css = '';
        //'/published/publicdata/MULTITOYS/attachments/SC/themes/user_multi-new/main.css';
    </script>
{/literal}