{* product brief view (from a category or search) *}

{if $product_info ne NULL}
  {if $product_info.slug}
    {assign var=_product_url value="?ukey=product&productID=`$product_info.productID`&product_slug=`$product_info.slug`"|set_query_html}
  {else}
    {assign var=_product_url value="?ukey=product&productID=`$product_info.productID`"|set_query_html}
  {/if}
  {if $widget}{assign var=_form_action_url value="&view=noframe&external=1"}{/if}
	{assign var=_cnt value=''}
<table class='cs_product_info'>
	<tbody>
	  <tr>
	    <td width='160px'>
        {if $product_info.thumbnail && $product_info.picture}
          <a {$target} href='{$_product_url}'><div class="div_izobrag">
              <img class='preview' width='160px' height='120px' pid='{$smarty.const.URL_PRODUCTS_PICTURES}/{$product_info.picture|escape:'url'}' src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product_info.thumbnail|escape:'url'}" alt="{$product_info.name|escape:'html'}" title="{$product_info.name|escape:'html'}" />
          </div>{*if $product_info.is_specialoffer}{foreach from=$product_info.is_specialoffer item=_list}{"multi_`$_list`"|translate}{/foreach}{/if*}
<div class="list_label{if $product_info.productID|is_akcia_product>0} label_back akcia_label
{elseif $product_info.productID|is_new_product>0} label_back newitemspostup_label
{elseif $product_info.productID|is_hitu_product>0} label_back hitu_label
{/if}"></div>
</a>
        {else}<div class="div_izobrag">
          <a href="{$_product_url}">
            <img class='preview' width='160px' height='120px' src="/img/nophoto.jpg"/>
          </a></div>
        {/if}
	    </td>
	    <td>{*if $product_info.productID|is_akcia_product>0}
            <div class='akcia'>АКЦИЯ!{if $product_info.productID|akcia_skidka > 0}<span class='akcia' style='font-size:110%;'>&nbsp;-{$product_info.productID|akcia_skidka}%</span>{/if}
						</div>{/if*}
				
            {if $product_info.productID|akcia_skidka > 0}<div class='akcia'><span class='akcia' style='font-size:110%;'>&nbsp;-{$product_info.productID|akcia_skidka}%</span>
						</div>{/if}
    	  <div class='productname'><a href='{$_product_url}'>{$product_info.name|escape:'html'|lower|replace:"$searchstring":"<span style='color:red;'>$searchstring</span>"}</a>
          {*if $product_info.productID|is_new_product>0}
            &nbsp;&nbsp;<span style='color: white; background-color: red;'>&nbsp;Новое!&nbsp;</span>
          {/if*}
        </div>
      </td>
	   <td width='100px'>
    	  <div><a href='{$_product_url}'>{$product_info.product_code|escape:'html'}</a></div>
      </td>
  <td width='60px'>
    <div>
{if $product_info.Bonus/$product_info.Price>2}
		  <span style='color: red; font-size: 14px;'><b>{$product_info.Bonus|string_format:"%d"}</b></span>
{else}
          <span class="totalPrice">{$product_info.Bonus|string_format:"%d"}</span>
{/if}
        </div>
      </td>
{if $product_info.productID|is_zakaz_product>0}

      <td width='80px'>
    <div>
          <span style='color: red;font-size: 14px;'><i>под заказ!</i></span><br /><span style='color: grey;'><b>{$product_info.productID|withSkidka}&nbspгрн.</b></span>

        </div>
      </td>
{elseif $product_info.productID|is_akcia_product>0}

      <td width='80px'>
			 <div class='akcia'>{$product_info.productID|withSkidka}&nbspгрн.<br /><span class='list_price'>{$product_info.list_price|string_format:"%.2f"}&nbsp;грн.</span>
       </div>
      </td>
{else}
      <td width='80px'>
    <div>
          <span class="price">{$product_info.productID|withSkidka}&nbspгрн.</span>
        </div>
      </td>
{/if}
      <td>
      </td>
      <td width='175px'>
     	  {if $currencies_count ne 0 && $product_info.Price > 0}
          <div class="pravay_chast">
              {cpt_product_add2cart_button request_product_count='request_product_count' overridestyle=':qa8pav'}
          </div>
      	{/if}
      </td>
    </tr>
</tbody>
</table>
<div class='delimiter'></div>



  {if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
  {elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
	  <div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
  {/if}

{/if}