{if !$printable_version}
	{if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
<table width='175px'>
	<tbody>
	<tr>
		<td>
			<input name="product_qty" id='qty{$product_info.productID}' class="cart_product_quantity" data-id='{$product_info.productID}' type="text" size="2" value="" title='Количество'
			{literal}
			onkeypress='if (event.keyCode == 13){add_2cart("#qty{/literal}{$product_info.productID}{literal}");}'>&nbsp;
			{/literal}
			
		</td>
		<td style='vertical-align:middle;white-space:nowrap;'>
			<div class="ostatok_div">
				{if $product_info.ostatok eq 'под заказ'}
					<span style='  color: red; font-style: italic;'>&nbsp;под&nbsp;заказ!</span>
				{else}
					&nbsp;{$product_info.ostatok}&nbsp;шт.
				{/if}
			</div>
		</td>
		<td>
			<td style='vertical-align:middle;'>
				<button class="z_add_cart" onclick='add_2cart("#qty{$product_info.productID}");' type="button">
					<div id="zpid_{$product_info.productID}" class='in_cart'>
						<div class="animated zoomInDown">
							{z_shopping_count productID=$product_info.productID}
						</div>
					</div>
				</button>
			</td>
		</tr>
	</tbody>
</table>
	{elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
    <div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
	{/if}

{/if}