{combine input=$js_JsHttpRequest output='/cache/JsHttpRequest.js' age='3600' defer=$defer}
<div id="blck-content">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td id="cart_page_title">
                <h1>{$CurrentDivision.name|translate}</h1>
            </td>
            <td>
                <div>
                    <a id="my_closeLink" href='{"?ukey=home&view=frame"|set_query_html}' target="_parent"
                       onclick="window.history.back()">
                        {lbl_goto_shopping}
                    </a>
                </div>
            </td>
            {if $cart_content}
                <td id="cart_clear">
                    <a href='{"clear_cart=yes"|set_query}'
                       onclick='confirm("{"cart_clear_cart"|translate}?")'>{"cart_clear_cart"|translate}</a>
                </td>
            {/if}
        </tr>
    </table>
    
    <div>
        {$MessageBlock}
        
        {* shopping cart *}
        {if $cart_content}
        {if $cart_amount lt $smarty.const.CONF_MINIMAL_ORDER_AMOUNT & $cart_error_show eq 1 & !$MessageBlock}
            <div class='error_block'><span
                      style="font-size: 150%; color: red;">{"cart_min_order_amount_not_reached"|translate} {$cart_min}</span>
            </div>
        {/if}
        <script>
            var aID = new Array();
            var bID = new Array();
            var mID = new Array();
        </script>
        <form action="{''|set_query_html}" name="ShoppingCartForm" method="post" target="_self">
            <input type="hidden" name="update" value="1"/>
            <input type="hidden" name="shopping_cart" value="1"/>
            <table id="cart_content_tbl" cellspacing="0">
                <colgroup>
                    <col width="1%"/>
                    <col width="1%"/>
                    <col width="35%"/>
                    <col width="14%"/>
                    <col width="12%"/>
                    <col width="10%"/>
                    <col width="12%"/>
                    <col width="13%"/>
                    <col width="2%"/>
                </colgroup>
                <tr id="cart_content_header">
                    <td></td>
                    <td></td>
                    <td align="center">
                        <a href="/?ukey=cart&sort=name&direction={if $direction=='ASC'}DESC{else}ASC{/if}">
                            <table>
                                <tr>
                                    <td>Наименование товара</td>
                                    <td>
                                        <div class="{if $direction=='ASC'&&$sort=='name'}z_sort_desc{else}z_sort_asc{/if}"></div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td align="center"><a
                              href="/?ukey=cart&sort=Price&direction={if $direction=='ASC'}DESC{else}ASC{/if}">
                            <table>
                                <tr>
                                    <td>Цена</td>
                                    <td>
                                        <div class="{if $direction=='ASC'&&$sort=='Price'}z_sort_desc{else}z_sort_asc{/if}"></div>
                                    </td>
                                </tr>
                            </table>
                        </a></td>
                    <td align="center">
                        <table>
                            <tr>
                                <td>Остаток</td>
                            </tr>
                        </table>
                    </td>
                    <td align="center"><a
                              href="/?ukey=cart&sort=count&direction={if $direction=='ASC'}DESC{else}ASC{/if}">
                            <table>
                                <tr>
                                    <td>{lbl_cart_product_quantity}</td>
                                    <td>
                                        <div class="{if $direction=='ASC'&&$sort=='count'}z_sort_desc{else}z_sort_asc{/if}"></div>
                                    </td>
                                </tr>
                            </table>
                        </a></td>
                    <td align="center"><a
                              href="/?ukey=cart&sort=Bonus&direction={if $direction=='ASC'}DESC{else}ASC{/if}">
                            <table>
                                <tr>
                                    <td>Кол-во баллов</td>
                                    <td>
                                        <div class="{if $direction=='ASC'&&$sort=='Bonus'}z_sort_desc{else}z_sort_asc{/if}"></div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td align="center">Сумма</td>
                    <td align="center"></td>
                </tr>
                
                {assign var="ProductsNum" value=0}
                {assign var="num" value=1}
                
                {section loop=$cart_content name=i}
                    {assign var=_prdid value=$cart_content[i].id}
                    <tr id='{$_prdid}' class='row_{cycle values="odd,even"}' style='height:20px;'>
                        <td width="1%" align='right'>
                            {$num++})
                        </td>
                        <td align="center" valign="top" width="1%">{if $cart_content[i].thumbnail_url}
                                <img class='preview' data-pid='{$cart_content[i].picture_url|escape:'html'}'
                                     src="{$cart_content[i].thumbnail_url|escape:'html'}" style="width:75px;"/>
                            {else}&nbsp;{/if}</td>
                        <td>
                            {if !$widget_view}
                                <a href='{"?ukey=product&product_slug=`$cart_content[i].slug`"|set_query_html}'
                                   {if $PAGE_VIEW eq 'noframe'}class="gofromfade"{/if}>{$cart_content[i].name}
                                    (арт.{$cart_content[i].product_code})</a>
                                {if $cart_content[i].productID|is_new_product>0}
                                    &nbsp;&nbsp;
                                    <span style='color: white; background-color: red;'>&nbsp;Новинка!&nbsp;</span>
                                {/if}
                            
                            {else}
                                {$cart_content[i].name}
                                {if $cart_content[i].productID|is_new_product>0}
                                    &nbsp;&nbsp;
                                    <span style='color: white; background-color: red;'>&nbsp;Новинка!&nbsp;</span>
                                {/if}
                            {/if}
                        </td>
                        <td align="center">{$cart_content[i].costUC}</td>
                        <td align="center">{$cart_content[i].ostatok}&nbsp;шт.</td>
                        <td align="center" style='white-space:nowrap;'>
                            
                            {assign var="ProductsNum" value=$ProductsNum+$cart_content[i].quantity}
                            
                            <input type="hidden" id='price_{$_prdid}' value='{$cart_content[i].PriceX}'>
                            
                            <div class=counter>
                                <button class='count-control control-up' type='button'
                                   onClick="CountUP('{$_prdid}')"></button>
                                <input id='count_{$_prdid}' class="cart_product_quantity digit" type="text"
                                       maxlength="3"
                                       name="count_{$_prdid}" value="{$cart_content[i].quantity}" size="3"
                                       onKeyup="Reprise()"/>
                                <button class='count-control control-down' type='button'
                                   onClick="CountDOWN('{$_prdid}')"></button>
                            </div>
                            
                                <div id="min_{$_prdid}" class="error_block{if !$cart_content[i].min_order_amount} display_none{/if}">
                                    <span class="error_message">
                                        {*{"prdset_minimal_order_quantity"|translate}*}
                                        мин. {$cart_content[i].min_order}&nbsp;{"str_items"|translate}
                                    </span>
                                </div>
                            
                        </td>
                        <td id="bonus_{$_prdid}" align="center">
                            {$cart_content[i].Bonus}&nbsp;бал.
                        </td>
                        <td id="sum_{$_prdid}" align="center" nowrap="nowrap">
                            {$cart_content[i].cost}
                        </td>
                        <td align="center">
                            {*<input type="checkbox" class='del_chkbtn' name='del_{$_prdid}' data-pid="{$_prdid}"/>*}
                            <a href='{"remove=`$_prdid`"|set_query_html}' title='{"btn_delete"|transcape}' onClick="CountDOWN('{$_prdid}', true);return false">
                                <img src="{$smarty.const.URL_IMAGES}/remove.gif" alt='{"btn_delete"|transcape}'
                                     style='color:white;'/>
                            </a>
                        </td>
                    </tr>
                    <script>
                        aID[{$smarty.section.i.index}] = '{$_prdid}';
                        bID[{$_prdid}] ={$cart_content[i].BonusX};
                        mID[{$_prdid}] ={$cart_content[i].min_order};
                    </script>
                {/section}
                
                {if $cart_discount neq ''}
                    <tr>
                        <td colspan="3" class="cart_discount_label">
                            {"usr_custinfo_group_discount"|translate},&nbsp;{$discount_percent|string_format:'%0.1f%%'}
                        </td>
                        <td align="center" nowrap="nowrap">
                            - <span id="discount_value">{$cart_discount}</span>
                        </td>
                        <td></td>
                    </tr>
                {/if}
                
                {if $smarty.const.CONF_DSC_COUPONS_ENABLED eq 'Y'}
                    <tr id="coupon_form" style="display: {if $current_coupon neq '0'}none{/if};">
                        <td colspan="3" class="cart_discount_label">
                            {"lbl_frnt_discount_coupon"|translate}:
                            <input type="text" size="12" maxlength="10" name="discount_coupon_code"
                                   id="discount_coupon_code" value="" onBlur="onApplyButtonClick();"
                                   onkeypress="return noenter(event);"/>
                            <button type="button" onClick="onApplyButtonClick();"
                                    tabindex="1001">{"btn_apply"|translate}</button>
                        </td>
                        <td align="center">
                                <span id="wrong_coupon_lbl"
                                      style="color: #666666; font-size: 80%; display: none;">{"lbl_wrong_coupon"|translate}</span>
                            <b id="processing_coupon_lbl"
                               style="color: blue; display: none;">{"lbl_processing_coupon"|translate}</b>
                        </td>
                    </tr>
                    <tr id="coupon_info" style="display: {if $current_coupon eq '0'}none{/if};">
                        <td colspan="3" class="cart_discount_label">
                            {"lbl_frnt_discount_coupon"|translate}:
                            <b id="coupon_info_code">{$current_coupon}</b>
                            <button type="button" onClick="onDeleteCouponClick();"
                                    tabindex="1002">{"btn_change"|translate}</button>
                        </td>
                        <td align="center">
                            - <span id="coupon_discount_value">{$coupon_discount}</span>
                        </td>
                    </tr>
                {/if}
                
                {if $cart_discount eq '' and $smarty.const.CONF_DSC_COUPONS_ENABLED eq 'N'}
                    <tr style="height: 30px;"></tr>
                {/if}
                
                <tr>
                    <td></td>
                    <td id="cart_total_label" colspan="4">
                        {if $smarty.session.cs_may_order && $smarty.const.CONF_SHOW_ADD2CART eq 1}
                            <input type='hidden' name="123" id="recalculate" value='123'>
                            <input type="submit" class="btn_checkout blue-button check" name="checkout"
                                   value="{"str_checkout"|translate}" id="btn-checkout" tabindex="1005">
                        {/if}
                    </td>
                    <td style="color:blue; font-size: 130%;"><b>{"str_total"|translate}:</b></td>
                    <td id="bonus_total" style="color:green;"><b>{$bonus_total}</b>&nbsp;баллов</td>
                    <td id="cart_total" style="color:red; font-size: 110%;"><b>{$cart_total}</b></td>
                    <td align='right'></td>
                </tr>
                
                <tr style="height: 10px;"></tr>
            </table>
        </form>
    </div>
    {else}
    <h3>{"cart_cart_is_empty"|translate}</h3>
    {/if}
</div>