<!-- <script type="text/javascript" src="{$smarty.const.URL_JS}/jquery.1.4.2.js"></script> -->
<script src="{$smarty.const.URL_JS}/jquery.countdown.js" type="text/javascript"></script>

<style type="text/css">
{literal}
.zakcia_body {
	/*width: 100%;*/
	/*bolder: 2px solid lightblue;*/

  background: linear-gradient(to bottom, rgba(85,170,255,0.4) 0%, rgba(85,170,255,0.4) 50%,rgba(255,255,0,0.4) 51%, rgba(255,255,0,0.4) 100%);
	padding-left: 10px;
	padding-bottom: 5px;
	
}

br { clear: both; }
.cntSeparator {
  font-size: 54px;
  margin: 10px 7px;
  color: blue;
}
.desc { margin: 7px 3px; }
.desc div {
  float: left;
  font-family: Comic Sans MS;
  width: 70px;
  margin-right: 65px;
  font-size: 14px;
  font-weight: bold;
  color: blue;
}
#z_counter {
	width: 550px;
}

{/literal}
</style>

<script type="text/javascript">
{literal}
	$(function(){
		var _date = new Date();
		_date.setSeconds({/literal}{$seconds}{literal});
	  $('#z_counter').countdown({
	    image: '/img/_digits.png',
	    startTime: _date
	  });
	});
{/literal}	
</script>

<div class="zakcia_body">
	<table width="100%">
		<tr>

			<td width="270px"><div style = "padding: 0px; text-align: center; font-size:24px; color:yellow;"><i>до конца акции осталось...</i></div>
				<div id="z_counter"></div>
				<div class="desc">
			    <div>Дней</div>
			    <div>Часов</div>
			    <div>Минут</div>
			    <div>Секунд</div>
				</div >
			  
			</td>

			<td /*style="background-image: url(/img/hot.gif); background-repeat:no-repeat;"*/>
				{$za_body}
			</td>
		</tr>
	</table>
</div>