# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
/dblist/MULTITOYS.xml
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ===============
# Project Files
# ===============

*.jpg
*.png
*.gif
*.swf
*.txt
*.psd
*.log
*.csv
*[0-9]
[0-9]*.php
.idea/
data/
dblist/
*images*/
*img*/
includes/
installer/
login/
moving.page/
temp/
shop/
suspended.page/
system/
upload/
webstat/
kernel/wbs.xml
kernel/wbsmodules/
kernel/robots/
kernel/pear/
kernel/modules/
kernel/smarty/compiled/
kernel/smarty/internals/
kernel/smarty/resources/
kernel/dbfunctions_cmn.php
published/AA/
published/common/
published/docs/
published/login/
published/MW/
published/UG/
published/wbsadmin/
published/WG/
*pictures*/
published/publicdata/MULTITOYS/attachments/SC/rss/
published/publicdata/MULTITOYS/attachments/SC/sitemap/
published/publicdata/MULTITOYS/attachments/SC/themes/multitoys/
published/publicdata/MULTITOYS/attachments/SC/themes/user_multi-new/temp_overridestyles/
published/SC/classes/
published/SC/help/
published/SC/localization/
published/SC/html/cssbased/
published/SC/html/scripts/3rdparty/
published/SC/html/scripts/callbackhandlers/
published/SC/html/scripts/tinymce/
published/SC/html/scripts/repo_themes/
/kernel/includes/wbsmodules
/kernel/includes/robots
/kernel/includes/pear
/kernel/includes/modules
/kernel/classes
/lib
/popup/language
/system
/moving.page
/login
/kernel/includes/dbinfo.xml
/kernel/includes/dateclass.php
/kernel/includes/con_settings.xml
/kernel/includes/safehtml.php
/kernel/includes/mail_envelope.txt
/kernel/includes/mail_envelope.htm
/kernel/includes/locloader.class.php
/kernel/includes/mimetypes.dat
/kernel/class.classmanager.php
/kernel/errors.(2015.06.05 20.51.58).log
/kernel/contacts.php
/kernel/modules.php
/kernel/quotas.php
/kernel/dbfunctions_cmn.php
/kernel/complete
/kernel/sysconsts.php
/kernel/sms.php
/kernel/domxml-php4-to-php5.php
/kernel/classes.php
/kernel/database.php
/kernel/dbfunctions.php
/kernel/functions.php
/kernel/class.cm_folderstreedescriptor.php
/kernel/dbaccess.php
/kernel/wbs.xml
/kernel/.htaccess
/kernel/queries.php
/kernel/csvfiles.php
/kernel/languages.csv
/kernel/errors.log
/kernel/ur_screens.php
/kernel/queries_cmn.php
/kernel/kernel.php
/kernel/kernel130814.php
/kernel/ur_manager.php
/kernel/htareplaced
/kernel/wbsinit.php
/published/UG
/.idea
/css
/includes
/installer
/kernel/includes/smarty/Smarty.class.php
/kernel/includes/smarty/debug.tpl
/kernel/includes/smarty/Smarty_Compiler.class.php
/kernel/includes/smarty/Smarty.class.php.19032015
/kernel/includes/smarty/debug.htm
/kernel/includes/smarty/Config_File.class.php
/kernel/includes/smarty/resources
/kernel/includes/smarty/internals

