book {
    display: block;
    margin-bottom: 5px;
    border: 3px solid green
}

title {
    display: block;
    color: red;
    font-size: 32px;
    font-family: Georgia
}

author {
    display: inline;
    color: blue;
    font-size: 24px;
    font-family: Verdana
}

price {
    display: inline;
    color: black;
    background-color: yellow;
    font-size: 18px;
    font-family: monospace
}