/* Created by Artisteer v4.0.0.58475 */

#m_main {
    background: #CCE1E5 url('images/page.png') fixed;
    background: url('images/pageglare.png') top center no-repeat, url('images/page.png'), #CCE1E5;
    background-attachment: fixed, fixed, scroll !important;
    margin: 0 auto;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

table, ul.m_hmenu {
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.m_button {
    border-collapse: separate;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #467E8B;
    background: transparent;
    border: 1px solid #356069;
    padding: 0 5px;
    margin: 0 auto;
    height: 21px;
}

.m_postcontent,
.m_postheadericons,
.m_postfootericons,
.m_blockcontent,
ul.m_vmenu a {
    text-align: left;
}

.m_postcontent,
.m_postcontent li,
.m_postcontent table,
.m_postcontent a,
.m_postcontent a:link,
.m_postcontent a:visited,
.m_postcontent a.visited,
.m_postcontent a:hover,
.m_postcontent a.hovered {
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.m_postcontent p {
    margin: 12px 0;
}

.m_postcontent h1, .m_postcontent h1 a, .m_postcontent h1 a:link, .m_postcontent h1 a:visited, .m_postcontent h1 a:hover,
.m_postcontent h2, .m_postcontent h2 a, .m_postcontent h2 a:link, .m_postcontent h2 a:visited, .m_postcontent h2 a:hover,
.m_postcontent h3, .m_postcontent h3 a, .m_postcontent h3 a:link, .m_postcontent h3 a:visited, .m_postcontent h3 a:hover,
.m_postcontent h4, .m_postcontent h4 a, .m_postcontent h4 a:link, .m_postcontent h4 a:visited, .m_postcontent h4 a:hover,
.m_postcontent h5, .m_postcontent h5 a, .m_postcontent h5 a:link, .m_postcontent h5 a:visited, .m_postcontent h5 a:hover,
.m_postcontent h6, .m_postcontent h6 a, .m_postcontent h6 a:link, .m_postcontent h6 a:visited, .m_postcontent h6 a:hover,
.m_blockheader .t, .m_blockheader .t a, .m_blockheader .t a:link, .m_blockheader .t a:visited, .m_blockheader .t a:hover,
.m_vmenublockheader .t, .m_vmenublockheader .t a, .m_vmenublockheader .t a:link, .m_vmenublockheader .t a:visited, .m_vmenublockheader .t a:hover,
.m_headline, .m_headline a, .m_headline a:link, .m_headline a:visited, .m_headline a:hover,
.m_slogan, .m_slogan a, .m_slogan a:link, .m_slogan a:visited, .m_slogan a:hover,
.m_postheader, .m_postheader a, .m_postheader a:link, .m_postheader a:visited, .m_postheader a:hover {
    font-size: 22px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
}

.m_postcontent a, .m_postcontent a:link {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #00C0EB;
}

.m_postcontent a:visited, .m_postcontent a.visited {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #6AA6B4;
}

.m_postcontent a:hover, .m_postcontent a.hover {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
    color: #1FD6FF;
}

.m_postcontent h1 {
    color: #00C0EB;
    margin: 10px 0 0;
    font-size: 22px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_blockcontent h1 {
    margin: 10px 0 0;
    font-size: 22px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h1 a, .m_postcontent h1 a:link, .m_postcontent h1 a:hover, .m_postcontent h1 a:visited, .m_blockcontent h1 a, .m_blockcontent h1 a:link, .m_blockcontent h1 a:hover, .m_blockcontent h1 a:visited {
    font-size: 22px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h2 {
    color: #1FD6FF;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_blockcontent h2 {
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h2 a, .m_postcontent h2 a:link, .m_postcontent h2 a:hover, .m_postcontent h2 a:visited, .m_blockcontent h2 a, .m_blockcontent h2 a:link, .m_blockcontent h2 a:hover, .m_blockcontent h2 a:visited {
    font-size: 20px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h3 {
    color: #4F8E9C;
    margin: 10px 0 0;
    font-size: 18px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_blockcontent h3 {
    margin: 10px 0 0;
    font-size: 18px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h3 a, .m_postcontent h3 a:link, .m_postcontent h3 a:hover, .m_postcontent h3 a:visited, .m_blockcontent h3 a, .m_blockcontent h3 a:link, .m_blockcontent h3 a:hover, .m_blockcontent h3 a:visited {
    font-size: 18px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h4 {
    color: #3F1708;
    margin: 10px 0 0;
    font-size: 15px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_blockcontent h4 {
    margin: 10px 0 0;
    font-size: 15px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h4 a, .m_postcontent h4 a:link, .m_postcontent h4 a:hover, .m_postcontent h4 a:visited, .m_blockcontent h4 a, .m_blockcontent h4 a:link, .m_blockcontent h4 a:hover, .m_blockcontent h4 a:visited {
    font-size: 15px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h5 {
    color: #3F1708;
    margin: 10px 0 0;
    font-size: 14px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_blockcontent h5 {
    margin: 10px 0 0;
    font-size: 14px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h5 a, .m_postcontent h5 a:link, .m_postcontent h5 a:hover, .m_postcontent h5 a:visited, .m_blockcontent h5 a, .m_blockcontent h5 a:link, .m_blockcontent h5 a:hover, .m_blockcontent h5 a:visited {
    font-size: 14px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h6 {
    color: #9E3915;
    margin: 10px 0 0;
    font-size: 13px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_blockcontent h6 {
    margin: 10px 0 0;
    font-size: 13px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

.m_postcontent h6 a, .m_postcontent h6 a:link, .m_postcontent h6 a:hover, .m_postcontent h6 a:visited, .m_blockcontent h6 a, .m_blockcontent h6 a:link, .m_blockcontent h6 a:hover, .m_blockcontent h6 a:visited {
    font-size: 13px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
}

header, footer, article, nav, #m_hmenu-bg, .m_sheet, .m_hmenu a, .m_vmenu a, .m_slidenavigator > a, .m_checkbox:before, .m_radiobutton:before {
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
}

header, footer, article, nav, #m_hmenu-bg, .m_sheet, .m_slidenavigator > a, .m_checkbox:before, .m_radiobutton:before {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 800px;
    color: #182B2F;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.cleared {
    font: 0/0 serif;
    clear: both;
}

form {
    padding: 0 !important;
    margin: 0 !important;
}

table.position {
    position: relative;
    width: 100%;
    table-layout: fixed;
}

li h1, .m_postcontent li h1, .m_blockcontent li h1 {
    margin: 1px;
}

li h2, .m_postcontent li h2, .m_blockcontent li h2 {
    margin: 1px;
}

li h3, .m_postcontent li h3, .m_blockcontent li h3 {
    margin: 1px;
}

li h4, .m_postcontent li h4, .m_blockcontent li h4 {
    margin: 1px;
}

li h5, .m_postcontent li h5, .m_blockcontent li h5 {
    margin: 1px;
}

li h6, .m_postcontent li h6, .m_blockcontent li h6 {
    margin: 1px;
}

li p, .m_postcontent li p, .m_blockcontent li p {
    margin: 1px;
}

.m_shapes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.m_slider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.m_slidenavigator > a {
    display: inline-block;
    vertical-align: middle;
    outline-style: none;
    font-size: 1px;
}

.m_slidenavigator > a:last-child {
    margin-right: 0 !important;
}

.m_object1827585850 {
    display: block;
    left: 2.52%;
    margin-left: -3px;
    position: absolute;
    top: 8px;
    width: 132px;
    height: 132px;
    background-image: url('images/object1827585850.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}

.m_object288104750 h1,
.m_object288104750 h2,
.m_object288104750 h3,
.m_object288104750 h4,
.m_object288104750 h5,
.m_object288104750 h6,
.m_object288104750 p,
.m_object288104750 a,
.m_object288104750 ul,
.m_object288104750 ol,
.m_object288104750 li {
    line-height: 125%;
}

.m_object288104750 {
    position: absolute;
    top: -1px;
    left: 100%;
    margin-left: -322px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    overflow: hidden;
    background-image: url('images/object288104750.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    z-index: 1;
    width: 322px;
    height: 150px;
}

.m_object288104750-text {
    font-size: 30px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-align: left;
    vertical-align: middle;
    color: #132225 !important;
    display: table-cell;
    outline-style: none;
    padding: 0px 0px !important;
    word-wrap: break-word;
    height: 150px;
    width: 322px;
}

.m_textblock ul > li {
    background-position-y: 8px !important;
}

.m_headline {
    display: inline-block;
    position: absolute;
    min-width: 50px;
    top: 47px;
    left: 27.17%;
    line-height: 100%;
    margin-left: -80px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 99;
}

.m_headline,
.m_headline a,
.m_headline a:link,
.m_headline a:visited,
.m_headline a:hover {
    font-size: 48px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    color: #FFFFFF !important;
    white-space: nowrap;
}

.m_header {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(89, 156, 171, 0.3);
    margin: 0 auto;
    height: 150px;
    background-image: url('images/header.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    min-width: 794px;
    max-width: 1728px;
    width: 90%;
    z-index: auto !important;
}

.responsive .m_header {
    background-image: url('images/header.png');
    background-position: center center;
}

.m_header > .widget {
    position: absolute;
    z-index: 101;
}

.m_header .m_slider-inner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.m_nav {
    background: #006C85;
    background: linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    background: linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(0, 137, 168, 0.3) 0, rgba(0, 137, 168, 0.3) 50%, rgba(0, 133, 163, 0.3) 60%, rgba(0, 71, 87, 0.3) 100%) no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(157, 197, 205, 0.6);
    padding: 4px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    font-size: 0;
    text-align: center;
}

ul.m_hmenu a, ul.m_hmenu a:link, ul.m_hmenu a:visited, ul.m_hmenu a:hover {
    outline: none;
    position: relative;
    z-index: 11;
}

ul.m_hmenu, ul.m_hmenu ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.m_hmenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

ul.m_hmenu li:hover {
    z-index: 10000;
    white-space: normal;
}

ul.m_hmenu:after, ul.m_hmenu ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

ul.m_hmenu, ul.m_hmenu ul {
    min-height: 0;
}

ul.m_hmenu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.m_nav:before {
    content: ' ';
}

.desktop-nav.m_nav {
    min-width: 800px;
    max-width: 1728px;
    width: 90%;
    padding-left: 7px;
    padding-right: 7px;
}

.m_hmenu-extra1 {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    background-position: center;
}

.m_hmenu-extra2 {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    background-position: center;
}

.m_menuitemcontainer {
    margin: 0 auto;
}

ul.m_hmenu > li {
    margin-left: 7px;
}

ul.m_hmenu > li:first-child {
    margin-left: 3px;
}

ul.m_hmenu > li:last-child, ul.m_hmenu > li.last-child {
    margin-right: 3px;
}

ul.m_hmenu > li > a {
    -webkit-border-radius: 4px 0;
    -moz-border-radius: 4px 0;
    border-radius: 4px 0;
    border: 1px solid transparent;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 41px;
    cursor: pointer;
    text-decoration: none;
    color: #152529;
    line-height: 41px;
    text-align: center;
}

.m_hmenu a,
.m_hmenu a:link,
.m_hmenu a:visited,
.m_hmenu a.active,
.m_hmenu a:hover {
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
}

ul.m_hmenu > li > a.active {
    background: #A9DAE5;
    -webkit-border-radius: 4px 0;
    -moz-border-radius: 4px 0;
    border-radius: 4px 0;
    border: 1px solid rgba(131, 47, 17, 0.2);
    padding: 0 50px;
    margin: 0 auto;
    color: #244147;
    text-decoration: none;
}

ul.m_hmenu > li > a:visited,
ul.m_hmenu > li > a:hover,
ul.m_hmenu > li:hover > a {
    text-decoration: none;
}

ul.m_hmenu > li > a:hover, .desktop ul.m_hmenu > li:hover > a {
    background: #FFFFFF;
    -webkit-border-radius: 4px 0;
    -moz-border-radius: 4px 0;
    border-radius: 4px 0;
    border: 1px solid rgba(131, 47, 17, 0.3);
    padding: 0 50px;
    margin: 0 auto;
}

ul.m_hmenu > li > a:hover,
.desktop-nav ul.m_hmenu > li:hover > a {
    color: #B54117;
    text-decoration: none;
}

ul.m_hmenu > li:before {
    position: absolute;
    display: block;
    content: ' ';
    top: 0;
    left: -7px;
    width: 7px;
    height: 41px;
    background: url('images/menuseparator.png') center center no-repeat;
}

ul.m_hmenu > li:first-child:before {
    display: none;
}

ul.m_hmenu ul {
    display: none;
}

.m_sheet {
    background: #E0EDF0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(89, 156, 171, 0.5);
    padding: 3px;
    margin: 3px auto 0;
    position: relative;
    cursor: auto;
    width: 90%;
    min-width: 800px;
    max-width: 1728px;
    z-index: auto !important;
}

.m_layout-wrapper {
    position: relative;
    margin: 0 auto 0 auto;
    z-index: auto !important;
}

.m_content-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.m_content-layout-row {
    display: table-row;
}

.m_layout-cell {
    display: table-cell;
    vertical-align: top;
}

.m_vmenublock {
    background: #D0E3E7;
    background: rgba(208, 227, 231, 0.6);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(123, 176, 188, 0.9);
    margin: 5px;
}

div.m_vmenublock img {
    margin: 0;
}

.m_vmenublockheader {
    padding: 10px 0;
    margin: 0 auto;
}

.m_vmenublockheader .t,
.m_vmenublockheader .t a,
.m_vmenublockheader .t a:link,
.m_vmenublockheader .t a:visited,
.m_vmenublockheader .t a:hover {
    color: #294A51;
    font-size: 18px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 0.7px 0.7px 0 rgb(123, 176, 188), 1.4px 1.4px 0 rgb(123, 176, 188), 2.1px 2.1px 1px rgb(123, 176, 188), 2.8px 2.8px 0 rgb(123, 176, 188), 3.5px 3.5px 0 rgb(123, 176, 188);
    margin: 0 10px;
}

.m_vmenublockheader .t:before {
    content: url('images/vmenublockheadericon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_vmenublockheader .t:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_vmenublockcontent {
    margin: 0 auto;
}

ul.m_vmenu, ul.m_vmenu ul {
    list-style: none;
    display: block;
}

ul.m_vmenu, ul.m_vmenu li {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
}

ul.m_vmenu {
    margin-top: 0;
    margin-bottom: 0;
}

ul.m_vmenu ul {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
}

ul.m_vmenu ul.active {
    display: block;
}

ul.m_vmenu > li > a {
    background: #CCE1E5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px outset #9DC5CD;
    padding: 0 7px;
    margin: 0 auto;
    color: #182B2F;
    min-height: 18px;
    line-height: 18px;
}

ul.m_vmenu a {
    display: block;
    cursor: pointer;
    z-index: 1;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    position: relative;
}

ul.m_vmenu li {
    position: relative;
}

ul.m_vmenu > li {
    margin-top: 1px;
}

ul.m_vmenu > li > ul {
    padding: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}

ul.m_vmenu > li:first-child {
    margin-top: 0;
}

ul.m_vmenu > li > a:before {
    content: url('images/vmenuitemicon.png');
    margin-right: 5px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera ul.m_vmenu > li > a:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.m_vmenu > li > a.active:before {
    content: url('images/vmenuactiveitemicon.png');
    margin-right: 5px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera ul.m_vmenu > li > a.active:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.m_vmenu > li > a:hover:before {
    content: url('images/vmenuhovereditemicon.png');
    margin-right: 5px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera ul.m_vmenu > li > a:hover:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.m_vmenu > li > a:hover, ul.m_vmenu > li > a.active:hover {
    background: #9DC5CD;
    border: 2px outset #7BB0BC;
    padding: 0 7px;
    margin: 0 auto;
}

ul.m_vmenu > li > a:hover, ul.m_vmenu > li > a.active:hover {
    text-decoration: none;
}

ul.m_vmenu a:hover, ul.m_vmenu a.active:hover {
    color: #FFFFFF;
}

ul.m_vmenu > li > a.active:hover > span.border-top, ul.m_vmenu > li > a.active:hover > span.border-bottom {
    background-color: transparent;
}

ul.m_vmenu > li > a.active {
    background: #7BB0BC;
    background: rgba(123, 176, 188, 0.8);
    border: 2px outset rgba(123, 176, 188, 0.8);
    padding: 0 7px;
    margin: 0 auto;
    text-decoration: none;
    color: #FDF1ED;
}

ul.m_vmenu > li > ul:before {
    margin: 0 auto;
    display: block;
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ul.m_vmenu li li a {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
    position: relative;
}

ul.m_vmenu ul li {
    margin: 0;
    padding: 0;
}

ul.m_vmenu li li {
    position: relative;
    margin-top: 0;
}

ul.m_vmenu ul a {
    display: block;
    position: relative;
    min-height: 24px;
    overflow: visible;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 0;
    line-height: 24px;
    color: #386670;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
}

ul.m_vmenu ul a:visited, ul.m_vmenu ul a.active:hover, ul.m_vmenu ul a:hover, ul.m_vmenu ul a.active {
    line-height: 24px;
    color: #386670;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
}

ul.m_vmenu ul ul a {
    padding-left: 40px;
}

ul.m_vmenu ul ul ul a {
    padding-left: 60px;
}

ul.m_vmenu ul ul ul ul a {
    padding-left: 80px;
}

ul.m_vmenu ul ul ul ul ul a {
    padding-left: 100px;
}

ul.m_vmenu li li a:before {
    content: url('images/vmenusubitemicon.png');
    margin-right: 10px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera ul.m_vmenu li li a:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.m_vmenu ul > li > a:hover, ul.m_vmenu ul > li > a.active:hover {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
}

ul.m_vmenu ul li a:hover, ul.m_vmenu ul li a.active:hover {
    text-decoration: none;
    color: #386670;
}

ul.m_vmenu ul a:hover:after {
    background-position: center;
}

ul.m_vmenu ul a.active:hover:after {
    background-position: center;
}

ul.m_vmenu ul a.active:after {
    background-position: bottom;
}

ul.m_vmenu li li a:hover:before {
    content: url('images/vmenuhoveredsubitemicon.png');
    margin-right: 10px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera ul.m_vmenu li li a:hover:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.m_vmenu ul > li > a.active {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
}

ul.m_vmenu ul a.active, ul.m_vmenu ul a:hover, ul.m_vmenu ul a.active:hover {
    text-decoration: none;
    color: #0AD2FF;
}

ul.m_vmenu li li a.active:before {
    content: url('images/vmenuactivesubitemicon.png');
    margin-right: 10px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera ul.m_vmenu li li a.active:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_block {
    background: #D0E3E7;
    background: rgba(208, 227, 231, 0.6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #7BB0BC;
    margin: 5px;
}

div.m_block img {
    margin: 10px;
}

.m_blockheader {
    padding: 10px 5px;
    margin: 0 auto;
}

.m_blockheader .t,
.m_blockheader .t a,
.m_blockheader .t a:link,
.m_blockheader .t a:visited,
.m_blockheader .t a:hover {
    color: #000000;
    font-size: 15px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 10px;
}

.m_blockheader .t:before {
    content: url('images/blockheadericon.png');
    margin-right: 5px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_blockheader .t:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_blockcontent {
    padding: 5px;
    margin: 0 auto;
    color: #152529;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    letter-spacing: normal;
    line-height: 100%;
}

.m_blockcontent table,
.m_blockcontent li,
.m_blockcontent a,
.m_blockcontent a:link,
.m_blockcontent a:visited,
.m_blockcontent a:hover {
    color: #152529;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    letter-spacing: normal;
    line-height: 100%;
}

.m_blockcontent p {
    margin: 0 5px;
}

.m_blockcontent a, .m_blockcontent a:link {
    color: #0089A8;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.m_blockcontent a:visited, .m_blockcontent a.visited {
    color: #5C9EAD;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
}

.m_blockcontent a:hover, .m_blockcontent a.hover {
    color: #00AFD6;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.m_block ul > li:before {
    content: url('images/blockbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    margin-left: -17px;
}

.opera .m_block ul > li:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_block li {
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    line-height: 150%;
    color: #1F373D;
    margin: 5px 0 0 10px;
}

.m_block ul > li, .m_block ol {
    padding: 0;
}

.m_block ul > li {
    padding-left: 17px;
}

.m_breadcrumbs {
    margin: 0 auto;
}

a.m_button,
a.m_button:link,
a:link.m_button:link,
body a.m_button:link,
a.m_button:visited,
body a.m_button:visited,
input.m_button,
button.m_button {
    text-decoration: none;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #CB4A1A;
    margin: 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 21px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.m_button img {
    margin: 0;
    vertical-align: middle;
}

.firefox2 .m_button {
    display: block;
    float: left;
}

input, select, textarea {
    vertical-align: middle;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

.m_block select {
    width: 96%;
}

input.m_button {
    float: none !important;
}

.m_button.active, .m_button.active:hover {
    background: #356069;
    background: linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    background: -webkit-linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    background: -moz-linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    background: -o-linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    background: -ms-linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    background: linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    -svg-background: linear-gradient(top, #437884 0, #3A6973 50%, #2E535C 50%, #356069 100%) no-repeat;
    border: 1px solid transparent;
    padding: 0 5px;
    margin: 0 auto;
}

.m_button.active, .m_button.active:hover {
    color: #BDF3FF !important;
}

.m_button.hover, .m_button:hover {
    background: #FFFFFF;
    background: linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    background: -webkit-linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    background: linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    -svg-background: linear-gradient(top, #FFFFFF 0, #F0F0F0 50%, #D9D9D9 50%, #E8E8E8 100%) no-repeat;
    border: 1px solid transparent;
    padding: 0 5px;
    margin: 0 auto;
}

.m_button.hover, .m_button:hover {
    color: #0089A8 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    background: #E0EDF0;
    border: 1px solid #7BB0BC;
    margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    width: 100%;
    padding: 8px 0;
    color: #182B2F !important;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

input.m_error, textarea.m_error {
    background: #E0EDF0;
    background: linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    background: -webkit-linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    background: -moz-linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    background: -o-linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    background: -ms-linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    background: linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    -svg-background: linear-gradient(top, #AECFD6 0, #E4EFF1 40%, #EBF3F5 50%, #EBF3F5 100%) no-repeat;
    border: 1px solid #E2341D;
    margin: 0 auto;
}

input.m_error, textarea.m_error {
    color: #182B2F !important;
    font-size: 13px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

form.m_search input[type="text"] {
    background: #E0EDF0;
    border-radius: 0;
    border: 1px solid #7BB0BC;
    margin: 0 auto;
    width: 100%;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #182B2F !important;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

form.m_search {
    background-image: none;
    border: 0;
    display: block;
    position: relative;
    top: 0;
    padding: 0;
    margin: 5px;
    left: 0;
    line-height: 0;
}

form.m_search input {
    top: 0;
    right: 0;
}

form.m_search > input {
    bottom: 0;
    left: 0;
    vertical-align: middle;
}

form.m_search input[type="submit"] {
    margin: 0 auto;
    color: #F8D5C9 !important;
    position: absolute;
    display: block;
    left: auto;
    border: none;
    background: url('images/searchicon.png') center center no-repeat;
    width: 24px;
    height: 100%;
    padding: 0;
}

label.m_checkbox:before {
    background: #E0EDF0;
    background: linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -webkit-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    -svg-background: linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #599CAB;
    margin: 0 auto;
    width: 16px;
    height: 16px;
}

label.m_checkbox {
    cursor: pointer;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    display: inline-block;
}

.m_checkbox > input[type="checkbox"] {
    margin: 0 5px 0 0;
}

label.m_checkbox.active:before {
    background: #8AE9FF;
    background: linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -webkit-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -moz-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -o-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -ms-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    -svg-background: linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #00BBE5;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

label.m_checkbox.hovered:before {
    background: #A9DAE5;
    background: linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -webkit-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -moz-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -o-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -ms-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    -svg-background: linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #599CAB;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

label.m_radiobutton:before {
    background: #E0EDF0;
    background: linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -webkit-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    background: linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    -svg-background: linear-gradient(top, #FFFFFF 0, #AECFD6 100%) no-repeat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #599CAB;
    margin: 0 auto;
    width: 16px;
    height: 16px;
}

label.m_radiobutton {
    cursor: pointer;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    display: inline-block;
}

.m_radiobutton > input[type="radio"] {
    vertical-align: baseline;
    margin: 0 5px 0 0;
}

label.m_radiobutton.active:before {
    background: #8AE9FF;
    background: linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -webkit-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -moz-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -o-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: -ms-linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    background: linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    -svg-background: linear-gradient(top, #C2F4FF 0, #52DFFF 100%) no-repeat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #00BBE5;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

label.m_radiobutton.hovered:before {
    background: #A9DAE5;
    background: linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -webkit-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -moz-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -o-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: -ms-linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    background: linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    -svg-background: linear-gradient(top, #D4EDF2 0, #7DC8D8 100%) no-repeat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #599CAB;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.m_post {
    padding: 5px;
    margin: 7px;
}

a img {
    border: 0;
}

.m_article img, img.m_article, .m_block img, .m_footer img {
    border: 1px solid #9DC5CD;
    margin: 5px 5px 5px 5px;
}

.m_metadata-icons img {
    border: none;
    vertical-align: middle;
    margin: 2px;
}

.m_article table, table.m_article {
    border-collapse: collapse;
    margin: 1px;
}

.m_post .m_content-layout-br {
    height: 0;
}

.m_article th, .m_article td {
    padding: 2px;
    border: solid 1px #7BB0BC;
    vertical-align: top;
    text-align: left;
}

.m_article th {
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre {
    overflow: auto;
    padding: 0.1em;
}

.preview-cms-logo {
    border: 0;
    margin: 1em 1em 0 0;
    float: left;
}

.image-caption-wrapper {
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper img {
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper div.m_collage {
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper p {
    font-size: 80%;
    text-align: right;
    margin: 0;
}

.m_postmetadataheader {
    background: #CCE1E5;
    background: rgba(204, 225, 229, 0.7);
    border: 1px solid #9DC5CD;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 1px;
}

.m_postheader {
    color: #004F61;
    margin: 3px 0;
    font-size: 18px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

.m_postheader a,
.m_postheader a:link,
.m_postheader a:visited,
.m_postheader a.visited,
.m_postheader a:hover,
.m_postheader a.hovered {
    font-size: 18px;
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

.m_postheader a, .m_postheader a:link {
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #007994;
}

.m_postheader a:visited, .m_postheader a.visited {
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    text-decoration: none;
    color: #3F727D;
}

.m_postheader a:hover, .m_postheader a.hovered {
    font-family: 'Comic Sans MS', Tahoma, Arial, Sans-Serif;
    text-decoration: underline;
    color: #00B7E0;
}

.m_postheadericons,
.m_postheadericons a,
.m_postheadericons a:link,
.m_postheadericons a:visited,
.m_postheadericons a:hover {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    color: #2C5058;
}

.m_postheadericons {
    display: inline-block;
    padding: 1px;
}

.m_postheadericons a, .m_postheadericons a:link {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    color: #007994;
}

.m_postheadericons a:visited, .m_postheadericons a.visited {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
    color: #007994;
}

.m_postheadericons a:hover, .m_postheadericons a.hover {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #00A2C7;
}

.m_postdateicon:before {
    content: url('images/postdateicon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postdateicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postauthoricon:before {
    content: url('images/postauthoricon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postauthoricon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postpdficon:before {
    content: url('images/postpdficon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postpdficon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postprinticon:before {
    content: url('images/postprinticon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postprinticon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postemailicon:before {
    content: url('images/postemailicon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postemailicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postediticon:before {
    content: url('images/postediticon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postediticon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postcontent ul > li:before, .m_post ul > li:before, .m_textblock ul > li:before {
    content: url('images/postbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postcontent ul > li:before, .opera .m_post ul > li:before, .opera .m_textblock ul > li:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postcontent li, .m_post li, .m_textblock li {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    line-height: 150%;
    color: #244147;
    margin: 5px 0 0 7px;
}

.m_postcontent ul > li, .m_post ul > li, .m_textblock ul > li, .m_postcontent ol, .m_post ol, .m_textblock ol {
    padding: 0;
}

.m_postcontent ul > li, .m_post ul > li, .m_textblock ul > li {
    padding-left: 14px;
}

.m_postcontent ul > li:before, .m_post ul > li:before, .m_textblock ul > li:before {
    margin-left: -14px;
}

.m_postcontent ol, .m_post ol, .m_textblock ol, .m_postcontent ul, .m_post ul, .m_textblock ul {
    margin: 1em 0 1em 7px;
}

.m_postcontent li ol, .m_post li ol, .m_textblock li ol, .m_postcontent li ul, .m_post li ul, .m_textblock li ul {
    margin: 0.5em 0 0.5em 7px;
}

.m_postcontent li, .m_post li, .m_textblock li {
    margin: 5px 0 0 0;
}

.m_postcontent ol > li, .m_post ol > li, .m_textblock ol > li {
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

.m_postcontent ul > li, .m_post ul > li, .m_textblock ul > li {
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

blockquote {
    background: #9DC5CD url('images/postquote.png') no-repeat scroll;
    border: 1px solid #7BB0BC;
    padding: 12px 12px 12px 49px;
    margin: 0 0 0 15px;
    color: #070C0E;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    /* makes block not to align behind the image if they are in the same line */
    overflow: auto;
    clear: both;
}

blockquote a, .m_postcontent blockquote a, .m_blockcontent blockquote a, .m_footer blockquote a,
blockquote a:link, .m_postcontent blockquote a:link, .m_blockcontent blockquote a:link, .m_footer blockquote a:link,
blockquote a:visited, .m_postcontent blockquote a:visited, .m_blockcontent blockquote a:visited, .m_footer blockquote a:visited,
blockquote a:hover, .m_postcontent blockquote a:hover, .m_blockcontent blockquote a:hover, .m_footer blockquote a:hover {
    color: #070C0E;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
}

/* Override native 'p' margins*/
blockquote p,
.m_postcontent blockquote p,
.m_blockcontent blockquote p,
.m_footer blockquote p {
    margin: 0;
}

.m_postmetadatafooter {
    background: #CCE1E5;
    background: rgba(204, 225, 229, 0.7);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #9DC5CD;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 1px;
}

.m_postfootericons,
.m_postfootericons a,
.m_postfootericons a:link,
.m_postfootericons a:visited,
.m_postfootericons a:hover {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    color: #37636D;
}

.m_postfootericons {
    display: inline-block;
    padding: 1px;
}

.m_postfootericons a, .m_postfootericons a:link {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    color: #007994;
}

.m_postfootericons a:visited, .m_postfootericons a.visited {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
    color: #007994;
}

.m_postfootericons a:hover, .m_postfootericons a.hover {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #00A2C7;
}

.m_postcategoryicon:before {
    content: url('images/postcategoryicon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postcategoryicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_posttagicon:before {
    content: url('images/posttagicon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_posttagicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_postcommentsicon:before {
    content: url('images/postcommentsicon.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .m_postcommentsicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_footer {
    background: #9DC5CD url('images/footer.png') scroll;
    background: rgba(157, 197, 205, 0.6) url('images/footer.png') scroll;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    color: #132225;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-align: center;
}

.m_footer a,
.m_footer a:link,
.m_footer a:visited,
.m_footer a:hover,
.m_footer td,
.m_footer th,
.m_footer caption {
    color: #132225;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.m_footer p {
    padding: 0;
    text-align: center;
}

.m_footer a,
.m_footer a:link {
    color: #00819E;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.m_footer a:visited {
    color: #356069;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: underline;
}

.m_footer a:hover {
    color: #00A7CC;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
}

.m_footer img {
    margin: 12px;
}

.m_rss-tag-icon {
    background: url('images/footerrssicon.png') no-repeat scroll;
    margin: 0 auto;
    min-height: 30px;
    min-width: 19px;
    display: inline-block;
    text-indent: 22px;
    background-position: left center;
}

.m_rss-tag-icon:empty {
    vertical-align: middle;
}

.m_footer ul > li:before {
    content: url('images/footerbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    margin-left: -9px;
}

.opera .m_footer ul > li:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.m_footer li {
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    color: #1B3136;
}

.m_footer ul > li, .m_footer ol {
    padding: 0;
}

.m_footer ul > li {
    padding-left: 9px;
}

.m_page-footer,
.m_page-footer a,
.m_page-footer a:link,
.m_page-footer a:visited,
.m_page-footer a:hover {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #007994;
}

.m_page-footer {
    position: relative;
    z-index: auto !important;
    padding: 1em;
    text-align: center !important;
    text-decoration: none;
    color: #325962;
}

img.m_lightbox {
    cursor: pointer;
}

#m_lightbox-bg * {
    padding: 0;
    margin: 0;
}

div#m_lightbox-bg {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 9999;
}

img.m_lightbox-image {
    -webkit-transition: opacity 350ms ease-in-out;
    -moz-transition: opacity 350ms ease-in-out;
    -o-transition: opacity 350ms ease-in-out;
    -ms-transition: opacity 350ms ease-in-out;
    transition: opacity 350ms ease-in-out;
    cursor: pointer;
    z-index: 10000;
    position: fixed;
    border: 6px solid #fff;
    border-radius: 3px;
    opacity: 0;
    filter: alpha(opacity=0);
}

img.m_lightbox-image.active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.lightbox-error {
    position: fixed;
    background: #fff;
    z-index: 100;
    opacity: 0.95;
    padding: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px #333;
    width: 300px;
    height: 80px;
}

.loading {
    position: fixed;
    background: #fff url('images/preloader-01.gif') center center no-repeat;
    width: 32px;
    height: 32px;
    z-index: 10100;
    opacity: 0.5;
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px #333;
}

.arrow {
    height: 100px;
    width: 82px;
    z-index: 10003;
    position: fixed;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.arrow.left {
    left: 9px;
}

.arrow.right {
    right: 9px;
}

.arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.arrow.disabled {
    display: none;
}

.arrow-t, .arrow-b {
    height: 6px;
    width: 30px;
    left: 26px;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
}

.arrow-t {
    top: 38px;
}

.arrow-b {
    top: 50px;
}

.close {
    width: 22px;
    height: 22px;
    position: fixed;
    top: 30px;
    right: 39px;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.close .cw, .close .ccw {
    position: absolute;
    top: 8px;
    left: -4px;
    width: 30px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
}

.cw {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
    -moz-transform: rotate(45deg);
    /* Firefox */
}

.ccw {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari and Chrome */
    -o-transform: rotate(-45deg);
    /* Opera */
    -moz-transform: rotate(-45deg);
    /* Firefox */
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
    display: none;
    color: #fff;
    font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
    display: block;
}

.ie8 .cw, .ie8 .ccw {
    display: none;
}

.m_content-layout .m_sidebar1 {
    background: #9DC5CD;
    background: rgba(157, 197, 205, 0.3);
    -webkit-border-radius: 3px 0 0;
    -moz-border-radius: 3px 0 0;
    border-radius: 3px 0 0;
    border-right: 1px solid #9DC5CD;
    margin: 0 auto;
    width: 200px;
}

.m_content-layout .m_content {
    margin: 0 auto;
}

/* Begin Additional CSS Styles */
.m_blockheader .t, .m_vmenublockheader .t {
    white-space: nowrap;
}

/* End Additional CSS Styles */
