/* Created by Artisteer v4.0.0.58475 */

.clearfix {
    zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.m_textblock > div {
    display: block;
    line-height: normal;
    zoom: 1;
}

.m_header {
    z-index: 1;
}

.m_hmenu > li, .m_hmenu > li > a {
    display: inline !important;
    zoom: 1;
    float: none !important;
    vertical-align: top;
}

ul.m_hmenu, ul.m_hmenu ul {
    zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

ul.m_hmenu > li:first-child {
    padding-right: 7px;
}

ul.m_hmenu > li {
    zoom: expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='m_hmenu-separator');
}

ul.m_hmenu > li > span.m_hmenu-separator {
    position: absolute;
    display: block;
    top: 0;
    left: -7px;
    width: 7px;
    height: 41px;
    background: url('images/menuseparator.png') center center no-repeat;
}

ul.m_hmenu > li:first-child > span.m_hmenu-separator {
    display: none;
}

.m_content-layout, .m_content-layout-row, .m_layout-cell {
    display: block;
    zoom: 1;
}

.m_layout-cell {
    position: relative;
    float: left;
    clear: right;
}

ul.m_vmenu, ul.m_vmenu ul, ul.m_vmenu li {
    zoom: 1;
}

ul.m_vmenu ul {
}

input[type="text"] {
    margin: 0 0 0 -3px;
    zoom: expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"] {
    margin: 0;
}

form.m_search > input[type="text"] {
    margin: 0 0 0 -3px;
    zoom: expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.m_search div > input[type="text"] {
    width: 100%;
}

* html form.m_search > input[type="text"] {
    margin: 0;
}

.m_postmetadataheader {
    zoom: 1;
}

.m_postheadericons span {
    zoom: 1;
}

.m_postcontent {
    height: 1%;
}

.m_postmetadatafooter {
    zoom: 1;
}

.m_postfootericons span {
    zoom: 1;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
    display: block !important;
}

.cw, .ccw {
    display: none !important;
}

.m_sidebar1 {
    background: none !important;
    border: none !important;
    zoom: expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='m_sidebar1-bg' + (className.indexOf('m_sidebar1-fix') == -1 ? '' : ' m_sidebar1-bg-fix' ));
}

.m_sidebar1-bg {
    border-right: 1px solid #9DC5CD;
    position: absolute;
    z-index: -2;
    direction: ltr;
    left: 0;
    bottom: 0;
    top: 0;
    width: 200px;
    overflow: hidden;
    display: block;
    background-color: #9DC5CD;
}

.m_content {
    width: auto;
    float: none;
}

