{*<link rel="stylesheet" href="/css/jquery.tooltip.css">*}
{*<script src='/published/SC/html/scripts/js/jquery.min.js'></script>*}
{*<script src='/js/jquery.tooltip.js'></script>*}
{literal}
    <style>
        .za_body h3 {
            padding-left: 5px;
            padding-top: 15px;
            color: tomato;
        }

        h3 small {
            font-size: small;
            color: #000033;
        }
        
        .to_right {
            text-align: right;
            color: darkorange;
        }

        #checkings label {
            vertical-align: top;
        }

        .red {
            color: red;
        }

        .yellow {
            color: yellow;
        }

        .green {
            color: green;
        }

        .blue {
            color: blue;
        }

        .choco {
            color: #9800A0;
        }

        .bold {
            font-weight: 700;
        }
        
        .border {
            border-left: 1px dotted grey;
        }

        .brand {
            color: gray;
            font-size: 11px;
            font-style: italic;
        }

        tr.odd:hover td,
        tr.even:hover td {
            background-color: #ECA;
        }
        
        #form div {
            float: left;
        }       
        
        #form div div {
            clear: both;
        }
        
        #checkings, #selections, #discounts {
            margin: 0 0 5px 5px;
        }
                
        #checkings {
            border-right: 2px ridge #7987FF;
        }
                
        #selections {
            border-left: 2px ridge #7987FF;
        }

        label, select, .input_message {
            margin-right: 5px;
            color: darkblue;
            font-size: 13px;
        }
        
        .input_message {
            height: 18px;
            margin-top: 7px;
        }

        #selections select {
            height: 18px;
            margin-top: 3px;
            font-size: 12px;
            color: darkblue;
        }
        
        #selections label {
            margin-left: 5px;
        }
        
        #ok {
            width: 80px;
            height: 70px;
            padding: 0;
            margin: 7px 0 0 5px;
            background-color: cornflowerblue;
            border: 0;
            color: white;
            font-size: xx-large;
            font-family: monospace;
            box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }
        
        #ok:hover {
            background-color: #0288d1;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
        }

        #ok:active {
            background-color: #03a9f4;
            box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
        }
    </style>
{/literal}
{*{literal}*}
    {*<script>*}
        {*$(".preview").tooltip({*}
            {*delay: 0, showURL: false, bodyHandler: function () {*}
                {*return $("<img/>").attr("src", $(this).attr("data-pid"));*}
            {*}*}
        {*});*}
    {*</script>*}
{*{/literal}*}
{*<link rel="stylesheet" href="/published/publicdata/MULTITOYS/attachments/SC/themes/user_multi-new/main.css" type="text/css">*}
<div class="za_body">
    <h3>Сравнение цен по конкурентам
        <small>({$TotalFound})</small>
    </h3>
    <form name="MainForm" method="get" action="{''|set_query}">

        <input type="hidden" name="did" value="{$CurrentDivision.id}">

        <div id=form>
            {*<p>{"competitors_search_params"|translate}</p>*}

            <div id=checkings>
                <div>
                    <input type="checkbox" name="new_items_postup" value="1" id="new_items_postup"
                        {if $smarty.get.new_items_postup} checked="checked"{/if}>
                    <label for="new_items_postup" style="color: #C00DC1; font-style: italic">- только Новые Поступления</label>
                </div>

    
                <div><input type="checkbox" name="bestsellers" value="1" id="bestsellers"
                        {if $smarty.get.bestsellers} checked="checked"{/if}>
                    </div>
                <label for="bestsellers" style="color: coral; font-style: italic">- только Хиты продаж</label>

                <div>
                    <input type="checkbox" name="new" value="1" id="new"
                        {if $smarty.get.new} checked="checked"{/if}>
                    <label for="new" style="color: #3A73BD; font-style: italic">- только Новинки</label>
                </div>

                <div>
                    <input type="checkbox" name="currency" value="1" id="currency"
                        {if $smarty.get.currency} checked="checked"{/if}>
                    <label for="currency" style="color: darkred; font-style: italic">- цены в $USD</label>
                </div>
            </div>

            <div id=discounts>
                <div>
                    <label for="disc_usd">Скидка Китай</label>
                    <input type="text" class="input_message" value="{$disc_usd}"
                       style="width:154px;" name="disc_usd" id="disc_usd">
                </div>

                <div>
                    <label for="disc_ua">Скидка Украина</label>
                    <input type="text" class="input_message" value="{$disc_ua}"
                       style="width:139px;" name="disc_ua" id="disc_ua">
                </div>          
                
                <div>
                    <label for="searchstring">Поиск товаров</label>
                    <input type="text" class="input_message" rel="Поиск товаров" value=""
                           style="width:150px;" name="searchstring" id="searchstring">
                </div>
            </div>

            <div id=selections>
                <div>
                    <label for="competitor" style="color: #FF0000">Сравнить с: </label>
                    <select name="competitor" style="width:196px;" id="competitor">
                        <option value='all'      {if $smarty.get.competitor eq 'all'} selected="selected"{/if}>Все конкуренты</option>
                        <option value='kindermarket' {if $smarty.get.competitor eq 'kindermarket'} selected="selected"{/if}>
                            Киндер-Маркет
                        </option>
                        <option value='divoland' {if $smarty.get.competitor eq 'divoland'} selected="selected"{/if}>
                            Диволенд
                        </option>
                        <option value='dreamtoys'{if $smarty.get.competitor eq 'dreamtoys'} selected="selected"{/if}>
                            Веселка
                        </option>
                        <option value='mixtoys' {if $smarty.get.competitor eq 'mixtoys'} selected="selected"{/if}>
                            Микстойс
                        </option>
                        <option value='grandtoys' {if $smarty.get.competitor eq 'grandtoys'} selected="selected"{/if}>
                            ГрандТойс
                        </option>
                    </select>
                </div>

                <div>
                    <label for="manufactured" style="color: #45AF10;">Производители</label>
                    <select name="manufactured" style="width:176px;" id="manufactured">
                        <option value='all'      {if $smarty.get.manufactured eq 'all'} selected="selected"{/if}>Все производители</option>
                        <option value='Ukraine' {if $smarty.get.manufactured eq 'Ukraine'} selected="selected"{/if}>только Украина</option>
                        <option value='China' {if $smarty.get.manufactured eq 'China'} selected="selected"{/if}>только Китай</option>
                    </select>
                </div>

                <div>
                    <label for="brand" style="color: #C00DC1">Торговая марка: </label>
                    <select name="brand" style="width:165px;" id="brand">
                        <option value='all'>Все TM</option>
                        {section name=i loop=$Brands}
                            <option value='{$Brands[i]|escape:'html'}' {if $smarty.get.brand eq $Brands[i]|escape:'html'} selected="selected"{/if}>{$Brands[i]|escape:'html'}</option>
                        {/section}
                    </select>
                </div>

                <div>
                    <label for="category" style="color: darkorange">Категория: </label>
                    <select name="category" style="width:200px;" id="category">
                        <option value='all'>Все категории</option>
                        {section name=i loop=$Categories}
                            <option value='{$Categories[i]|escape:'html'}' {if $smarty.get.category eq $Categories[i]|escape:'html'} selected="selected"{/if}>{$Categories[i]|escape:'html'}</option>
                        {/section}
                    </select>
                </div>

            </div>

            <input id=ok type="submit" name="search" value="{"btn_find"|translate}">

        </div>
    </form>
    <script src='{$smarty.const.URL_JS}/jquery.1.9.1.js'></script>
    {if $GridRows}
    {literal}
        <script>
            $(document).ready(function () {
                var HeaderTop = $('#header').offset().top;

                $(window).scroll(function () {
                    if ($(window).scrollTop() > HeaderTop) {
                        $('#header').css({position: 'fixed', top: '0px'});
                    } else {
                        $('#header').css({position: 'static'});
                    }
                });
            });
        </script>
    {/literal}
        {*{if $navigator}<p>{$navigator}</p>{/if}*}
        {*<p class="gridsfooter">{$TotalFound} &nbsp;{include file="backend/lister.tpl.html"}</p>*}
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="grid">
            <tr class="gridsheader" id="header">
                {include file="backend/gridheader.tpl.html"}
            </tr>
            {section name=i loop=$GridRows}
                {*{assign var=customer_url value="did=&ukey=user_info&userID=`$GridRows[i].customerID`"|set_query_html}*}
                <tr class="{cycle values="odd,even"}">
                    <td class="to_right">{$GridRows[i].num}.</td>
                    <td>
                        {*<!-- <a href='{$customer_url}'> -->*}
                        {$GridRows[i].code_1c}
                        {*<!-- </a> -->*}
                    </td>
                    <td class="blue">{$GridRows[i].product_code|escape:'html'}</td>
                    {*<td><img class="preview" width="64px" height="48px" src="{$GridRows[i].img|escape:'html'}" alt="Нет фото" data-pid='{$GridRows[i].img_big|escape:'html'}'></td>*}
                    <td>
                        <img class="preview" width="80px" height="60px" src="{$GridRows[i].img|escape:'html'}" alt="Нет фото">
                    </td>
                    <td {if $GridRows[i].max_diff > 0}class="red"{/if}>{$GridRows[i].name_ru|escape:'html'}</td>
                    {*<td class="brand">{$GridRows[i].category|escape:'html'}</td>*}
                    <td class="to_right choco">{$GridRows[i].purchase}</td>
                    <td class="to_right choco">{$GridRows[i].margin}</td>
                    <td class="to_right bold {if $GridRows[i].max_diff > 0}red{else}blue{/if}">{$GridRows[i].Price}</td>
                    <td class="to_right {if $GridRows[i].max_diff > 0}red{else}green{/if}">
                        <strong>{$GridRows[i].max_diff}</strong>
                    </td>
                    {if $smarty.get.competitor eq 'divoland'}
                        <td class="to_right border {if $GridRows[i].diff_divoland > 0}red{else}green{/if}">{$GridRows[i].divoland}</td>
                        <td class="to_right {if $GridRows[i].diff_divoland > 0}red{else}green{/if}">{$GridRows[i].diff_divoland}</td>
                    {elseif $smarty.get.competitor eq 'dreamtoys'}
                        <td class="to_right border {if $GridRows[i].diff_dreamtoys > 0}red{else}green{/if}">{$GridRows[i].dreamtoys}</td>
                        <td class="to_right {if $GridRows[i].diff_dreamtoys > 0}red{else}green{/if}">{$GridRows[i].diff_dreamtoys}</td>
                    {elseif $smarty.get.competitor eq 'mixtoys'}
                        <td class="to_right border {if $GridRows[i].diff_mixtoys > 0}red{else}green{/if}">{$GridRows[i].mixtoys}</td>
                        <td class="to_right {if $GridRows[i].diff_mixtoys > 0}red{else}green{/if}">{$GridRows[i].diff_mixtoys}</td>
                    {elseif $smarty.get.competitor eq 'grandtoys'}
                        <td class="to_right border {if $GridRows[i].diff_grandtoys > 0}red{else}green{/if}">{$GridRows[i].grandtoys}</td>
                        <td class="to_right {if $GridRows[i].diff_grandtoys > 0}red{else}green{/if}">{$GridRows[i].diff_grandtoys}</td>
                        <td class="to_right border {if $GridRows[i].diff_grandtoys2 > 0}red{else}green{/if}">{$GridRows[i].grandtoys2}</td>
                        <td class="to_right {if $GridRows[i].diff_grandtoys2 > 0}red{else}green{/if}">{$GridRows[i].diff_grandtoys2}</td>
                        <td class="to_right border {if $GridRows[i].diff_grandtoys3 > 0}red{else}green{/if}">{$GridRows[i].grandtoys3}</td>
                        <td class="to_right {if $GridRows[i].diff_grandtoys3 > 0}red{else}green{/if}">{$GridRows[i].diff_grandtoys3}</td>
                    {elseif $smarty.get.competitor eq 'kindermarket'}
                        <td class="to_right border {if $GridRows[i].diff_kindermarket > 0}red{else}green{/if}">{$GridRows[i].kindermarket}</td>
                        <td class="to_right {if $GridRows[i].diff_kindermarket > 0}red{else}green{/if}">{$GridRows[i].diff_kindermarket}</td>
                    {else}
                        <td class="to_right border {if $GridRows[i].diff_divoland > 0}red{else}green{/if}">{$GridRows[i].divoland}</td>
                        <td class="to_right {if $GridRows[i].diff_divoland > 0}red{else}green{/if}">{$GridRows[i].diff_divoland}</td>
                        <td class="to_right border {if $GridRows[i].diff_dreamtoys > 0}red{else}green{/if}">{$GridRows[i].dreamtoys}</td>
                        <td class="to_right {if $GridRows[i].diff_dreamtoys > 0}red{else}green{/if}">{$GridRows[i].diff_dreamtoys}</td>
                        <td class="to_right border {if $GridRows[i].diff_mixtoys > 0}red{else}green{/if}">{$GridRows[i].mixtoys}</td>
                        <td class="to_right {if $GridRows[i].diff_mixtoys > 0}red{else}green{/if}">{$GridRows[i].diff_mixtoys}</td>
                        <td class="to_right border {if $GridRows[i].diff_grandtoys > 0}red{else}green{/if}">{$GridRows[i].grandtoys}</td>
                        <td class="to_right {if $GridRows[i].diff_grandtoys > 0}red{else}green{/if}">{$GridRows[i].diff_grandtoys}</td>
                        <td class="to_right border {if $GridRows[i].diff_grandtoys2 > 0}red{else}green{/if}">{$GridRows[i].grandtoys2}</td>
                        <td class="to_right {if $GridRows[i].diff_grandtoys2 > 0}red{else}green{/if}">{$GridRows[i].diff_grandtoys2}</td>
                        <td class="to_right border {if $GridRows[i].diff_grandtoys3 > 0}red{else}green{/if}">{$GridRows[i].grandtoys3}</td>
                        <td class="to_right {if $GridRows[i].diff_grandtoys3 > 0}red{else}green{/if}">{$GridRows[i].diff_grandtoys3}</td>
                        <td class="to_right border {if $GridRows[i].diff_kindermarket > 0}red{else}green{/if}">{$GridRows[i].kindermarket}</td>
                        <td class="to_right {if $GridRows[i].diff_kindermarket > 0}red{else}green{/if}">{$GridRows[i].diff_kindermarket}</td>
                    {/if}
                </tr>
            {/section}
            <tr class="gridsfooter">
                <td colspan="11">{$TotalFound} &nbsp;{include file="backend/lister.tpl.html"}</td>
            </tr>
        </table>
    {else}
        <p>&lt;{'lbl_not_found'|translate}&gt;</p>
    {/if}
</div>