{literal}
<style>

.zu_body {
	padding: 10px;
}

.zu_list td{

}

</style>
{/literal}

<div class="zu_body">
	<h3>Список пользователей с постоянным доступом</h3>
	<table cellpadding=5 cellspacing=5 class="zu_list">
		<tr style="background-color: #e5e5e5">
			<td>Логин</td>
			<td>Email</td>
			<td>Имя</td>
		</tr>
	{foreach from=$u_users item=foo}
		<tr>
			<td><a href="/index.php?ukey=user_info&userID={$foo.customerID}&rdid=22">{$foo.Login}</a></td>
			<td><a href="/index.php?ukey=user_info&userID={$foo.customerID}&rdid=22">{$foo.Email}</a></td>
			<td><a href="/index.php?ukey=user_info&userID={$foo.customerID}&rdid=22">{$foo.first_name} {$foo.last_name}</a></td>
		</tr>
	{/foreach}
	</table>
</div>